Repository playhardgopro/stylelint-config-mdn-group-order: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylelint, eslint --fix .

docs: add readme (#2)
  README.md
  package-lock.json
  package.json
Due: none

docs: fix badge link
  README.md
Due: none

Set theme jekyll-theme-cayman
  _config.yml
  index.md
Due: none

feat: add typescript
  MDNGroups.js
  index.js
  package-lock.json
  package.json
  src/default-order.ts
  src/index.ts
  src/mdn-groups.ts
  src/types.ts
  tsconfig.json
Due: eslint --fix .

chore(eslint): fix eslint config
  .eslintignore
  .eslintrc
  .eslintrc.js
  __tests__/test.css
  index.js
  package-lock.json
  package.json
  tsconfig.json
Due: npm run stylelint, eslint --fix .

docs: add customization
  README.md
  index.js
  package.json
  src/index.ts
  tsconfig.json
Due: eslint --fix .

Add Typescript and function to customize sort order (#3)
  .eslintignore
  .eslintrc
  .eslintrc.js
  MDNGroups.js
  README.md
  __tests__/test.css
  index.js
  package-lock.json
  package.json
  src/default-order.ts
  src/mdn-groups.ts
  src/types.ts
  tsconfig.json
Due: npm run stylelint, eslint --fix .

0.1.0
  package-lock.json
  package.json
Due: none

fix(package.json): Add dist
  package.json
Due: none

0.1.1
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run stylelint: any of: *.css
  eslint --fix .: any of: *.js
